{% paginate blog.articles by 3 %}
  {% for article in blog.articles %}
    <div>
      {% if article.image %}
       <img class="object-cover object-center"
            width="250"
            height="auto"
            src="{{ article.image | image_url: width: '250, height: 250' }}"
            alt="{{ article.image.alt }}"
            loading="lazy">
            {% else %}
              {{ 'image' | placeholder_svg_tag: 'w-20' }}
      {% endif %}
      <h1>{{ article.title }}</h1>
    </div>
  {% endfor %}
{% endpaginate %}